:root {
    --cyan-light: #00aaaa;
}

.v-leading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.h-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* gap: 10px; 控制子元素之间的间距 */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 防止滚动条 */
    font-family: 'JetBrainsMono', monospace;
    background-color: #f4f4f4;
}

/* 链接样式 */  

a {
    text-decoration: none;
    color: var(--cyan-light);
    transition: color 0.3s, transform 0.3s;
}

.heading-block, .content-block, .footer-block {
    padding: 100px
}

.content-block, .footer-block {
    padding-top: 0;
    padding-bottom: 0;
}

.footer-block {
    padding-top: 100px;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

h1 {
    font-size: 5em;
}
p {
    font-size: 1em;
}

/* 响应式字体大小 */
@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1em;
    }
}